<app-header></app-header>

<div class="cronometro-tarefa-container">
    <h2>
        Galão de 20L
    </h2>

    <div class="clock-container">
        <div class="clock-display">
            <input type="number" class="hours" min="0" max="23" value="00" />
            <span>:</span>
            <input type="number" class="minutes" min="0" max="59" value="00" />
            <span>:</span>
            <input type="number" class="seconds" min="0" max="59" value="00" />
        </div>
    </div>

    <!-- Botão Play/Pause movido para baixo -->
    <button class="play-pause-button" (click)="togglePlayPause()">
        <i [ngClass]="isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
    </button>

    <button class="finalizar-button" [routerLink]="['/avaliar-tarefa']">Finalizar</button>
</div>

<app-footer></app-footer>