<section class="container" id="container">
    <section class="progresso" id="progresso" 
    [ngClass]="{
        'agua': tarefa.tipoTarefa == 'agua',
        'receitas': tarefa.tipoTarefa == 'receitas',
      }">
    </section>
</section>
<app-header></app-header>

<div class="cronometro-tarefa-container">
    <h2>
        {{ tarefa.titulo }}
    </h2>

    <div class="clock-container">
        <div class="clock-display">
            <input type="number" class="hours" min="0" max="23" [(ngModel)]="hora" />
            <span>:</span>
            <input type="number" class="minutes" min="0" max="59" [(ngModel)]="minuto" />
            <span>:</span>
            <input type="number" class="seconds" min="0" max="59" [(ngModel)]="segundo" />
        </div>
    </div>

    <!-- Botão Play/Pause movido para baixo -->
    <button class="play-pause-button" (click)="iniciarCarregamento()">
        <!-- <i [ngClass]="isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i> -->
        <i class='fas fa-play'></i>
    </button>

    <button class="finalizar-button" [routerLink]="['/avaliar-tarefa', tarefa.id]">Finalizar</button>
</div>

<app-footer></app-footer>