.cronometro-tarefa-container {
  display: flex;
  flex-direction: column;
  justify-content: center; // Centraliza verticalmente
  align-items: center; // Centraliza horizontalmente
  width: 100%;
  height: 100vh; // Altura total da tela
  color: #231f20;
  padding: 0; // Remover padding para centralizar totalmente

  h2 {
    font-size: 40px;
    text-align: center; // Centraliza o texto do título
    margin: 20px 0; // Espaçamento acima e abaixo do título
  }

  .clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .clock-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    color: #231f20;
    gap: 10px; // Espaço entre os elementos

    input {
      width: 60px;
      background-color: transparent;
      border: none;
      color: #231f20;
      text-align: center;
      font-size: 2rem;
      font-weight: bold; // Adicione esta linha para o texto em negrito
      appearance: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none; // Remove as setinhas no Chrome
      }

      &:focus {
        outline: none; // Remove a borda de foco
      }
    }

  }

  .finalizar-button {
    width: 70%;
    background-color: #231f20;
    color: #f1f1f1;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px; // Ajustar margem para distanciamento
    text-align: center; // Centraliza o texto do botão
  }

  .play-pause-button {
    width: 70%;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    color: #231f20; // Cor do ícone
    font-size: 15px; // Tamanho do ícone
    cursor: pointer; // Muda o cursor para indicar clicável
    margin-top: 20px; // Espaçamento entre o botão de play/pause e os inputs
    transition: color 0.3s; // Transição de cor suave
    display: block; // Garante que o botão ocupe a linha inteira

    &:hover {
      color: #231f20; // Muda a cor ao passar o mouse
    }
  }


}

section.progresso {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 1s ease;
}

.agua {
  background-color: #0097b2;
}

.receitas {
  background-color: #d93f29;
}