<app-header></app-header>
<div class="usuario-fav-container">  
    <div class="tarefas-fav">
      <h2>Tarefas Favoritadas</h2>
      <div class="botoes-tarefas">
        <button class="agua-button">Água</button>
        <button class="total-button">Total</button>
        <button class="receitas-button">Receitas</button>
      </div>
    </div>
  
    <div class="fav-tarefa-container">
      <button class="fav-button">Garrafa de Água 1L</button>
      <button class="fav-button">Garrafa de Água 5L</button>
      <button class="fav-button">Garrafa de Água 10L</button>
    </div>    

  </div>
  <app-footer></app-footer>

  