<app-header></app-header>
<div class="usuario-fav-container">  
    <div class="tarefas-fav">
        <h2>Tarefas Favoritadas</h2>
        <div class="botoes-tarefas">
            <button class="agua-button" (click)="filtrarAgua()">Água</button>
            <button class="total-button" (click)="filtrarTodos()">Total</button>
            <button class="receitas-button" (click)="filtrarReceitas()">Receitas</button>
        </div>
    </div>
  
    <div class="fav-tarefa-container">
        <button
            *ngFor="let tarefa of listaTarefasFiltro" 
            class="total-button"
            [ngClass]="{
                'total-button': tipo === 'todos',
                'agua-button': tipo === 'agua',
                'receitas-button': tipo === 'receitas'
            }"
            [routerLink]="['/editar-tarefa/edit', tarefa.id]">
            {{ tarefa.titulo }}
        </button>
    </div>    
</div>
<app-footer></app-footer>

  