.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #fff;
}

.app-title {
  font-size: 3rem;
  color: #231f20;
  margin-bottom: 20px; /* Espaçamento entre o título e a gota */
  text-align: center;
}

.drop-icon {
  font-size: 100px; /* Tamanho da gota */
  color: #231f20; /* Cor da gota */
  margin-bottom: 30px; /* Espaçamento entre a gota e o círculo de carregamento */
  text-align: center;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #0097b2;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 70px; /* Ajuste o espaçamento entre o círculo e a gota */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
