.info-box {
    width: 50%;
    height: 40px; /* Altura ajustada */
    background-color: #1c1817; /* Cor ajustada */
    border-radius: 20px;
    position: absolute;
    bottom: 60px; /* Margem do fundo da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o posicionamento para centralizar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
  }
  
  .chuva .fa-tint {
    font-size: 1.5rem;
  }
  
  .papel .fa-file-alt {
    font-size: 1.5rem;
  }
  