:host {
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  align-items: center; // Centraliza verticalmente
  height: 100vh; // Altura total da viewport para centralização vertical
}

.parabens-container {
  display: flex;
  flex-direction: column;
  justify-content: center; // Centraliza conteúdo verticalmente dentro do container
  align-items: center; // Centraliza conteúdo horizontalmente dentro do container
  height: 550px; // Altura do container
  width: 80%; // Largura do container
  margin: 0 auto; // Centraliza o container horizontalmente
  background-color: #231f20; // Cor de fundo
  color: #f1f1f1; // Cor do texto
  padding: 30px 20px; // Padding interno
  border-radius: 25px; // Bordas arredondadas
}

.parabens-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10%;
  margin-top: 10%;
}

p {
  font-size: 1.5rem;
  margin-bottom: 3%;
  text-align: center; // Centraliza o texto dentro do parágrafo
}


.register-button {  /* Remove "button" do seletor */
  background-color: #0097b2;
  color: #f1f1f1;
  margin-top: 1%;
  padding: 7%;
  font-size: 1.4rem;
  font-weight: bold; /* Adiciona negrito ao texto */
  border-radius: 25px;
  text-align: center;
  display: block;
  width: 80%;
  max-width: 300px;
  text-decoration: none;
  margin-top: 20%;
}
