<app-header></app-header>
<div class="usuario-historico-container">

    <div class="tarefas-historico">
        <h2>Histórico</h2>
        <div class="botoes-historico">
          <button class="agua-button">Água</button>
          <button class="total-button">Total</button>
          <button class="receitas-button">Receitas</button>
        </div>
      </div>
    
      <div class="tarefa-historico-container">
        <button class="historico-button">Arroz Integral</button>
        <button class="historico-button">Feijão Preto</button>
        <button class="historico-button">Brócolis</button>
      </div>   



</div>
<app-footer></app-footer>
