.usuario-perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    .tarefas-finalizadas {
      margin-top: 100px;
      text-align: center;
      width: 100%;
  
      h2 {
        color: #231f20;
        font-size: 2rem;
        margin-bottom: 20px;
      }
  
      .botoes-tarefas {
        display: flex;
        justify-content: center;
        gap: 20px;
  
        button {
          width: 150px;
          padding: 15px;
          font-size: 1.2rem;
          color: #f1f1f1;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
  
        .agua-button {
          background-color: #0097b2;
        }
  
        .total-button {
          background-color: #231f20;
        }
  
        .receitas-button {
          background-color: #d93f29;
        }
      }
    }
  
    .compartilhar-button {
        background-color: #231f20;
        color: #f1f1f1;
        padding: 15px;
        font-size: 1.5rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .icon {
            margin-left: 10px;
            color: #f1f1f1; // Define a cor do ícone aqui
          }
    }


    .informacoes-usuario {
        margin-top: 30px;
        padding: 20px;
        position: relative;
        left: 20px; // Alinha à esquerda, ajuste conforme necessário
      }
      
      .informacoes-usuario h5 {
        font-size: 1.2rem; // Igual ao tamanho dos botões
        margin: 10px 0; // Espaçamento entre os elementos
      }
}