.usuario-perfil-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Alinha à esquerda
  justify-content: flex-start;
  padding: 20px; // Adicione um padding se necessário para distanciamento

  .tarefas-finalizadas {
    margin-top: 100px;
    text-align: center;
    width: 100%;

    h2 {
      color: #231f20;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .botoes-tarefas {
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        width: 150px;
        padding: 15px;
        font-size: 1.2rem;
        color: #f1f1f1;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }

      .agua-button {
        background-color: #0097b2;
      }

      .total-button {
        background-color: #231f20;
      }

      .receitas-button {
        background-color: #d93f29;
      }
    }
  }

  .compartilhar-button {
    background-color: #231f20;
    color: #f1f1f1;
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto; // Centraliza o botão
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      margin-left: 10px;
      color: #f1f1f1; // Define a cor do ícone aqui
    }
  }

  .informacoes-usuario {
    margin-top: 30px;
    padding: 20px;
    width: 100%; // Largura total para o contêiner do formulário

    h5 {
      font-size: 1.2rem; // Igual ao tamanho dos botões
      margin: 10px 0; // Espaçamento entre os elementos
    }

    input {
      width: 90%; // Largura total do input
      padding: 10px; // Espaçamento interno
      margin-bottom: 15px; // Espaço abaixo de cada campo
      border: 1px solid #ccc; // Bordas do input
      border-radius: 5px; // Bordas arredondadas
      font-size: 1rem; // Tamanho da fonte

      &:focus {
        outline: none; // Remove a borda de foco
        border-color: #0097b2; // Muda a cor da borda quando em foco
      }
    }

    .alterar-senha-button {
      background-color: #0097b2;
      color: #f1f1f1;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      margin-top: 10px; // Margem para separar do último campo
    }
  }

}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;  /* Garantir que a largura seja 100% da viewport */
  height: 100vh; /* Garantir que a altura seja 100% da viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.modal-content {
  background-color: #f1f1f1;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para destacar o modal */
}




.close {
  color: #231f20;
  align-self: flex-end;
  /* Alinha o botão de fechar à direita */
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.close:hover,
.close:focus {
  color: #231f20;
  text-decoration: none;
  cursor: pointer;
}

.verificar-button {
  display: inline-block; // Faz com que o link se comporte como um botão
  width: 80%;
  max-width: 300px;
  padding: 2%;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #231f20; // Cor de fundo para o botão "Entrar"
  color: #f1f1f1; // Cor do texto no botão "Entrar"
  cursor: pointer;
  text-align: center; // Alinha o texto no centro
  text-decoration: none; // Remove o sublinhado do link
  margin: 1% auto; // Margens automáticas para centralizar
  margin-top: 20%;
}

input {
  width: 100%;
  padding: 3%;
  font-size: 1.2rem;
  margin-bottom: 3%;
  background-color: #f1f1f1;   // Cor de fundo do input
  border-radius: 15px;
  box-sizing: border-box;       // Inclui padding e border na largura total
}

label {
  text-align: left;      // Alinha o texto à esquerda
  width: 100%;           // Garante que o label ocupe toda a largura do contêiner
  margin-bottom: 5px;  
  margin-top: 5px;
}