<app-header></app-header>
<div class="usuario-perfil-container">
  
    <div class="tarefas-finalizadas">
      <h2>Tarefas Finalizadas</h2>
      <div class="botoes-tarefas">
        <button class="agua-button">Água</button>
        <button class="total-button">Total</button>
        <button class="receitas-button">Receitas</button>
      </div>
    </div>
  
    <button class="compartilhar-button">
        Compartilhar <span class="icon"><i class="fas fa-tint"></i></span>
    </button>
    
    <div class="informacoes-usuario">
        <h5>Nome</h5>
        <h5>E-mail</h5>
        <h5>Senha (alterar senha)</h5>
      </div>
  
  </div>
  <app-footer></app-footer>

  