<app-header></app-header>
<div class="adicionar-tarefa-container" >
  
  <button [ngClass]="{'agua': selectedType === 'agua', 'receitas': selectedType === 'receitas'}" (click)="onSelect('Garrafa de 1 litro')">Feijão</button> 
  <button [ngClass]="{'agua': selectedType === 'agua', 'receitas': selectedType === 'receitas'}" (click)="onSelect('Garrafa de 2 litros')">Batata</button> 
  <button [ngClass]="{'agua': selectedType === 'agua', 'receitas': selectedType === 'receitas'}" (click)="onSelect('Galão de 5 litros')">Brócolis</button> 
  <button [ngClass]="{'agua': selectedType === 'agua', 'receitas': selectedType === 'receitas'}" (click)="onSelect('Galão de 10 litros')">Chá</button> 
  
  <button class="adicionar-button" (click)="onAdicionar()">Adicionar</button>    

</div>
<app-footer></app-footer>

