.login-container {
  width: 90%;
  max-width: 100%;
  margin: 5% auto;
  padding: 5%;
  background-color: #231f20; // Cor de fundo do container
  color: #f1f1f1;            // Cor do texto dentro do container
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;            
}

body{
  
  font-size: medium;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;          // Certifique-se de que o formulário ocupe a largura total do contêiner
  color: #f1f1f1;      // Cor do texto dentro do formulário
}

input {
  width: 100%;
  padding: 3%;
  font-size: 1.2rem;
  margin-bottom: 3%;
  background-color: #f1f1f1; // Cor de fundo do input
  border-radius: 15px;
  box-sizing: border-box;
}

button {
  width: 80%;          // Ajuste a largura dos botões para 80% do formulário
  max-width: 300px;     // Defina um valor máximo para a largura dos botões
  padding: 2%;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background-color: #f1f1f1; // Cor de fundo do botão
  color: #231f20;      // Cor do texto no botão
  cursor: pointer;
  margin: 1% auto;     // Adiciona margens automáticas para centralizar o botão
  text-align: center;  // Alinha o texto no centro
}

.entrar-button {
  display: inline-block;   // Faz com que o link se comporte como um botão
  width: 80%;
  max-width: 300px;
  padding: 2%;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background-color: #f1f1f1; // Cor de fundo para o botão "Entrar"
  color: #231f20;            // Cor do texto no botão "Entrar"
  cursor: pointer;
  text-align: center;       // Alinha o texto no centro
  text-decoration: none;    // Remove o sublinhado do link
  margin: 1% auto;          // Margens automáticas para centralizar
}

.cadastre-button {
  display: inline-block;   // Faz com que o link se comporte como um botão
  width: 80%;
  max-width: 300px;
  padding: 2%;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background-color: #0097b2; // Cor de fundo para o botão "Entrar"
  color: #f1f1f1;            // Cor do texto no botão "Entrar"
  cursor: pointer;
  text-align: center;       // Alinha o texto no centro
  text-decoration: none;    // Remove o sublinhado do link
  margin: 1% auto;          // Margens automáticas para centralizar
}